:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color-head: rgb(192, 33, 53);
  --color-text-white: rgb(255, 255, 255);
  --color-text-main: #333;
  --border-color: #ebeef5;
  --color-text-active: #c02135

}